body {
  background-color: lightblue;
}
.bookmarks-container {
  background-color: white;
  margin: 0 400px;
}
button {
  border: 0;
  padding: 17px;
  border-radius: 20px;
  font-weight: 600;
  background-color: peachpuff;
}
